In [70]:
import pandas as pd 
import urllib.request, json
from pandas.io.json import json_normalize 
#Fetch historical price data from https://api.rain.bh/api/1/prices/history/BTCBHD?interval=1m&from=2020-12-04T00:00:00Z
#What is the highest price at the top (00:59, 1:59, 2:59) of every hour? Every day?
#What was the last price for each hour

In [71]:
x = 'https://api.rain.bh/api/1/prices/history/BTCBHD?interval=1m&from=2020-12-04T00:00:00Z'

with urllib.request.urlopen(x) as url:
    data = json.loads(url.read().decode())

In [72]:
df = json_normalize(data['prices'])
df['time'] = pd.to_datetime(df['time'])
df['hour'] = df['time'].dt.hour
df['minute'] = df['time'].dt.minute
df['day'] = df['time'].dt.day

In [74]:
#What is the highest price at the top (00:59, 1:59, 2:59) of every hour? 
df.query('minute == 59').groupby(['hour','minute'])['spot_price'].max()

hour  minute
0     59        6801.713
1     59        6750.622
2     59        6718.195
3     59        6775.885
4     59        6774.188
5     59        6758.540
6     59        6903.971
7     59        6918.111
8     59        6955.632
9     59        6871.352
10    59        6845.263
11    59        6863.927
12    59        6868.264
13    59        6873.165
14    59        6817.738
15    59        6834.517
16    59        6855.632
17    59        6866.567
18    59        6891.264
19    59        6938.773
20    59        6935.757
21    59        6917.281
22    59        6910.682
23    59        6884.100
Name: spot_price, dtype: object

In [75]:
#What is the highest price at the top (00:59, 1:59, 2:59) of every day? 
df.query('minute == 59').groupby(['day'])['spot_price'].max()

day
10    6955.632
11    6801.713
Name: spot_price, dtype: object

In [76]:
#What was the last price for each hour
df.index = df['time']
df.groupby(['day','hour'])['spot_price'].last()

day  hour
10   6       6915.283
     7       6902.085
     8       6917.923
     9       6950.353
     10      6880.518
     11      6853.747
     12      6855.067
     13      6862.419
     14      6881.083
     15      6833.763
     16      6832.443
     17      6856.386
     18      6863.173
     19      6887.682
     20      6950.650
     21      6929.724
     22      6920.297
     23      6912.002
11   0       6885.420
     1       6790.402
     2       6751.188
     3       6713.671
     4       6786.631
     5       6778.147
     6       6750.811
Name: spot_price, dtype: object